.success-message {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  width: 100%;
  height: 100vh; /* Establecer altura al 100% de la ventana */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999; /* Asegurarse de que esté en el frente */
}

.success-message p {
  background-color: #fff; /* Color de fondo del mensaje */
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra suave */
}
